@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-color: azure;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  list-style-type: none;
  background-color: black;
  height: 55px;
  align-items: center;
  color: white;
}
nav ul li {
  padding: 0 0.7rem;
}
.brand img {
  width: 45px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 60vh;
  background-color: #282828;
  color: black;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 20px auto;
  width: 70%;
  border-radius: 11px;
  padding: 25px;
  background-image: url("images/headphones5.jpg");
  background-size: cover;
}

.bottom {
  position: sticky;
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 13px;
}

.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 75vw;
  text-align: center;
  cursor: pointer;
}

.songItemContainer{
  margin-top: 20px ;
}

.songItem {
  height: 45px;
  display: flex;
  background-color: black;
  color: white;
  width: 95%;
  margin: 11px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
}

.songItem img {
  width: 41px;
  margin: 0 20px;
  border-radius: 30px;
}

.timestamp{
    margin: 0 21px;
}

.timestamp i{
  cursor: pointer;
}

.songInfo{
  position: absolute;
  left: 12vw;
  font-family: "Varela Round", sans-serif;
}

.songInfo img{
  margin-top: 7px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}